

.side-bar{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:300px;
    background-color: #FFFFFF;

}

body{
    height:100vh;
    background-color: #F4F7FD;
}

img.logo{
    width:152px;
    height:30px;
    margin-top:32px;
    margin-left:34px;
}

