
:root{
    --body-color:#F4F7FD;
}




/*Styling of the side bar, Heading included and button*/

.side-bar{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:300px;
    background-color: #FFFFFF;


}

body{
    height:100vh;
    background-color: var(--body-color)
}

img.logo{
    width:152px;
    height:32px;
    margin-top:32px;
    margin-left:34px;
    margin-bottom:40px;
}

h4.header-1{
    font-family:Plus Jakarta Sans;
    font-weight:700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing:2px;
    color:#828FA3;
    width:123px;
    height:15px;
    margin-left:32px;

}

button{
    padding-left:8px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    width:276px;
    height:48px;
    margin-top:5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #635FC7;
    color:#FFFFFF;
    border:none;
    font-family: Plus Jakarta Sans;
    font-size:15px;
    font-weight:700;
    letter-spacing: 1px;
    
}

:hover{
    button{
        background-color: #A8A4FF;
        animation-name: translate;
        animation: ease;
    }
}

/*Styling of Header and Heading*/

header{
    width:1140px;
    height:97px;
    background-color: #FFFFFF;
    margin-left:293px;
    position:relative;
    bottom:7px;

    

}

h2.main-heading{
    margin:0;
    margin-left:24px;
    padding-top:26px;
    font-size:24px;
    font-weight:700;
    line-height: 100%;
    color:#000112;
    padding-bottom:16px;

    

}

